.dash {
  background-color: #f4f4f4;
  border-radius: 50px 0 0 0;
  height: inherit;
}

.dash .dash-content {
  padding: 10px 45px;
}

.task-filter {
  margin: 30px auto;
}
.task-filter nav {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.task-filter p {
  font-size: 0.9em;
  margin-right: 10px;
  color: var(--text-color);
}
.task-filter button {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  border-right: 1px solid #e4e4e4;
  font-size: 0.9em;
}
.task-filter button:last-child {
  border: 0;
}
.task-filter button.active {
  color: var(--primary-color);
} 