.sidebar {
  width: 200px;
  min-width: 200px;
  background: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");
}
.sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(138, 127, 180, 0.2);
}
.sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
}
.sidebar .links li {
  margin-top: 10px;
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
  width: 24px;
}
.sidebar .links a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}
.sidebar .links .active img {
  filter: invert(40%);
}
.sidebar .links .logout {
  position: fixed;
  bottom: 0;
  padding-bottom: 50px;
}

/* .sidebar .links input.logout-btn {
  background: #ccc url('signout.png') no-repeat top left;
  padding-left: 16px;
  height: 16px;
} */

.sidebar .avatar {
  width: 100px;
  height: 100px;
}