.task-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}
.task-list a {
  background-color: #fff;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: inherit;
  transition: box-shadow .3s;
  transition: all .2s ease-in-out;
}

.task-list a:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transform: scale(1.03);
}

.task-list h4 {
  font-size: 0.9em;
  color: var(--heading-color);
}
.task-list p {
  color: var(--text-color);
  font-size: 0.9em;
}

.task-list .created-by {
  font-size: .8em;
}

.task-list .assigned-to {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.task-list ul {
  margin: 10px 0;
  display: flex;
}
.task-list li {
  margin-right: 10px;
}
.task-list .avatar {
  width: 30px;
  height: 30px;
}