.auth-form {
  min-width: 300px;
  min-height: 600px;
  padding: 40px;
  background: #fff;
  margin-right: 0px;
  margin-left: 0px;
  display: flow-root;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
}
.title-form {
  color: #3F3E68;
}
.auth-form .login-fields {
  height: 60px;
  font-size: 100%;
  padding: 8px 20px;
}

.reg-btn {
  background: #3F3E68;
  padding: 8px 12px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #fff;
  height: 60px;
  transition: all .2s ease-in-out;
}
.reg-btn:hover {
  color: #3F3E68;
  background-color: #fff;
  border: 1px solid #3F3E68;
}