.App {
  display: flex;
}

.App .nav {
  flex-grow: 1;
  background-color: var(--primary-color);
  background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");
}

.App .nav .container{
  flex-grow: 1;
  height: 100%;
  overflow: scroll;
  overflow-y: hidden;
}

.parent {
  /* background-image: url("./assets/ocean.jpg"); */
  height: calc(100vh - 94px);
  align-items: flex-start;
  justify-content: center;
  display:flex;
}

.login-leviathan {
  max-width: 427px;
  filter:saturate(100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* .snake img {
  width: 65px;
} */

.show-chat {
  background: #fbfbfb;
  color: var(--primary-color);
  border: none;
  transition: all .2s ease-in-out;
}
.show-chat:hover {
  color: #fff;
  background-color: var(--primary-color);
}

@media (prefers-reduced-motion: no-preference) {
  .snake {
    animation: snake-spin infinite 1s linear;
    width: 65px;
    
  }
}

@keyframes snake-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show-chat button {
  position: fixed;
  bottom: 20vw;
  right: 0;
}
