.App {
  display: flex;
}

.App .nav {
  flex-grow: 1;
  background-color: #3F3E68;
}

.App .container{
  flex-grow: 1;
  height: 100%;
  /* padding: 0 60px; */
  /* background: url("./assets/ocean.jpg"); */
}

/* .snake img {
  width: 65px;
} */

@media (prefers-reduced-motion: no-preference) {
  .snake {
    animation: snake-spin infinite 1s linear;
    width: 65px;
    
  }
}

@keyframes snake-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

