.task-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 60px;
  padding-top: 50px;
  margin-left: 45px;
  margin-right: 45px;
}

/* task summary */
.task-summary {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}
.task-summary .due-date {
  margin: 10px 0;
  font-size: 0.9em;
  color: var(--title-color);
}
.task-summary .details {
  margin: 30px 0;
  color: var(--text-color);
  line-height: 1.8em;
  font-size: 0.9em;
}
.task-summary h4 {
  color: var(--text-color);
  font-size: 0.9em;
}
.task-summary .assigned-users {
  display: flex;
  margin-top: 20px;
}
.task-summary .assigned-users .avatar {
  margin-right: 10px;
}
.task-summary + .btn {
  margin-top: 20px;
  margin-right: 10px;
}
.task-summary .assigned-users .add {
  margin-right: 10px;
  font-size: xx-large;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #8d69f1;
  border: 3px solid;
  background: white;
  padding: 0px;
  text-align: center;
  transition: all .2s ease-in-out;
}
.task-summary .assigned-users .add:hover {
  color: rgb(255, 255, 255);
  background-color: var(--highlight-color);
}
/* task comments*/
.task-comments label {
  margin-bottom: 0px;
}

.task-comments textarea {
  min-height: 40px;
  font-size: 1.5em;
}

/* comment list */
.task-comments h4 {
  color: var(--heading-color);
}
.task-comments li {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
  background: #fff;
}
.comment-author {
  display: flex;
  align-items: center;
  color: var(--title-color);
}
.comment-author .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.comment-date {
  color: var(--text-color);
  font-size: 0.9em;
  margin: 4px 0 10px;
}
.comment-content {
  color: var(--text-color);
  font-size: 0.9em;
}